<%- include("header") -%>
<h2>This is the about page </h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam quibusdam nemo expedita quasi, corrupti, eius saepe dicta distinctio fugiat voluptatem assumenda non culpa, fuga ea enim amet architecto. Non, deleniti.</p>

<%- include("footer") -%>